:root {
  /* layer colors */
  --fire-veryhigh: crimson;
  --fire-high: tomato;
  --flood-500: dodgerblue;
  --flood-100: rgb(6, 85, 164);
  --tsunami: darkslateblue;
  --dam-failure: darkblue;
  --liquefaction: goldenrod;
  --landslide: sienna;
  --fault: darkolivegreen;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#map {
  height: 100%;
  width: 100%;
}
